/* ポートフォリオCSSファイル */
/* 新規作成  2023/2/1 */
/* 作成者    T.Hattori */


@charset "uft-8";

body {
    padding-top: 50px;
    background-color: aquamarine;

}
.jumbotron {
    background-image: url("haikei.jpg");
    color: #0c08e3;
}

.starter-template {
    padding: 40px 80px;
    background-color: white;
}

.icon-size {
    font-size: 200%;
    background-color: white;
}
.color-talk {
     color: blue;
}

.color-wrench {
     color: blueviolet;
}

.color-heart {
     color: plum;
}
h3 {
    color:#0045B1;
    font-size:22px;
    font-weight: bold;
}
.common1 {
    margin-top:60px;
}
.row {
    margin-top:10px;
    margin-bottom:20px;
}

.hairyo {
    color:#70A;
}

.hairyo	.hairyo1 {
    margin-top:10px;
    font-size:18px;
    color:#70A;

}

.siteall{
    width:480px;
    height:120px;
    background-color:rgb(249, 248, 245);
}

.site {
    list-style: none;
}

.site .site1 {
    color:#8FA600;
}


.btn-return {
    width:120px;
    height:40px;
    font-size:17px;
    padding-bottom:20px;
    margin-bottom:20px;
}
footer {
    width:95%;
    height:20px;
}
