@charset 'utf-8';
/* 新規作成 2022/7/28 */
/* 作成者   T.HATTORI */

body {
    background-color:azure;
    text-align: center;
}

.logo {
    float:left;
    background:#5F1;
    padding: 10px 5px;
    width:100px;
    margin:0;
    margin-left:0;
}

ul {
    float:auto;
    width: 480px;
    padding: 0;
}

ul li {
    list-style:none;
    margin: 0;
    margin-left: 0;
    padding: 10px 5px;
    display: inline-block;
    width: 100px;
    background: #5F1;
}

.one {
    font-size:20px;
    color:darkkhaki;
    float:left;
    padding:10px;
}

.two {
    font-size:20px;
    color:darkmagenta;
    float:left;
    padding:10px;
}

.three {
    font-size:20px;
    color:#ff0108;
    float:left;
    padding:10px;
}

h1 {
    color:darkblue;
    font-size:30px;
}
table {
    color:darkgreen;
    text-align: center;
    table-layout: auto;
    font-size:20px;
}
.footer {
    text-align:left;
}
